<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input matInput type="number" [min]="minimo" [max]="maximo" [step]="step" [placeholder]="titulo" [name]="controlName" [formControlName]="controlName">
    <mat-error *ngIf="validacao.hasErrorValidator(formControl, 'required')">Campo obrigatório!</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidator(formControl, 'min')">Campo deve conter nota entre 0 e 10!</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidator(formControl, 'max')">Campo deve conter nota entre 0 e 10!</mat-error>
  </mat-form-field>
</div>
